<a href="https://colab.research.google.com/github/ProsperChuks/Population-Estimate-and-Projection/blob/main/forecasts/population_estimate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Dependecies

In [1]:
import numpy as np
import pandas as pd
import pickle
import plotly.express as px

### Loading Dumped files

In [3]:
world_pop = pickle.load(open('/content/drive/MyDrive/Colab Notebooks/Hamoye Intership/Capstone Project/pickled files/wrld.pkl', 'rb'))
world_growth = pickle.load(open('/content/drive/MyDrive/Colab Notebooks/Hamoye Intership/Capstone Project/pickled files/wgrt.pkl', 'rb'))
cbr = pickle.load(open('/content/drive/MyDrive/Colab Notebooks/Hamoye Intership/Capstone Project/pickled files/cbr.pkl', 'rb'))
cdr = pickle.load(open('/content/drive/MyDrive/Colab Notebooks/Hamoye Intership/Capstone Project/pickled files/cdr.pkl', 'rb'))

In [4]:
world_growth

          GrowthRate
MidPeriod
1958           1.805
1963           1.913
1968           2.052
1973            1.95
1978           1.775
1983           1.772
1988           1.791
1993           1.507
1998           1.344
2003           1.257
2008            1.23
2013            1.18
2018           1.094
2020           1.032